body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div {
    text-align: center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

#welcome {
    background-color: gray;
    width: 400px;
    animation-name: welcomeAnimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#profile {
    border: 30px solid gray;
    border-radius: 100px;
    width: 120px;
    transition: width 3s, border-color 3s, transform 3s;
}

#profile:hover {
    width: 200px;
    border-color: black;
    transform: rotate(360deg);
}

@keyframes welcomeAnimation {
    0%{
        transform: translate(0);
        background-color: gray;
        color: black;
    }
    100%{
        transform: translate(10vw);
        background-color: black;
        color: white;
    }
}